In [1]:
import numpy as np
import pandas as pd

# Missing Data

In [2]:
dictionaryData = {"Istanbul" : [30, 29, np.nan], "Ankara" : [20, np.nan, 25], "Izmir" : [40, 39, 38]}
weatherDataFrame = pd.DataFrame(dictionaryData)
print(weatherDataFrame)

   Istanbul  Ankara  Izmir
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     38

In [3]:
newData = {"Istanbul" : [30, 29, np.nan], "Ankara" : [20, np.nan, 25], "Izmir" : [40, 39, 38], "Antalya" : [45, np.nan, np.nan]}
newDataFrame = pd.DataFrame(newData)
print(newDataFrame)
print(newDataFrame.dropna(axis=1, thresh=2)) # Drop columns with more than 2 NaN values
newDataFrame.fillna(20, inplace=True) # Fill all NaN values with 20
print(newDataFrame)

   Istanbul  Ankara  Izmir  Antalya
0      30.0    20.0     40     45.0
1      29.0     NaN     39      NaN
2       NaN    25.0     38      NaN
   Istanbul  Ankara  Izmir
0      30.0    20.0     40
1      29.0     NaN     39
2       NaN    25.0     38
   Istanbul  Ankara  Izmir  Antalya
0      30.0    20.0     40     45.0
1      29.0    20.0     39     20.0
2      20.0    25.0     38     20.0

# Grouping

In [4]:
salaryDictionary = {"Department" : ["Software", "Software", "Finance", "Finance", "Law", "Law"],
"Employee Name" : ["Ahmet", "Mehmet", "Atil", "Burak", "Zeynep", "Fatma"],
"Salary" : [100, 150, 200, 300, 400, 500]}
salaryDataFrame = pd.DataFrame(salaryDictionary)
print(salaryDataFrame)

  Department Employee Name  Salary
0   Software         Ahmet     100
1   Software        Mehmet     150
2    Finance          Atil     200
3    Finance         Burak     300
4        Law        Zeynep     400
5        Law         Fatma     500

In [5]:
groupObject = salaryDataFrame.groupby("Department")
print(groupObject.count())

            Employee Name  Salary
Department
Finance                 2       2
Law                     2       2
Software                2       2