In [1]:
import numpy as np
import pandas as pd

# Library Operations

In [4]:
dictionary1 = {"Name" : ["Ahmet", "Mehmet", "Zeynep", "Atil"],
"Sport" : ["Running", "Swimming", "Running", "Basketball"],
"Calories" : [100, 200, 300, 400]}

dataFrame1 = pd.DataFrame(dictionary1, index=[0, 1, 2, 3])
print(dataFrame1)

     Name       Sport  Calories
0   Ahmet     Running       100
1  Mehmet    Swimming       200
2  Zeynep     Running       300
3    Atil  Basketball       400

In [5]:
dictionary2 = {"Name" : ["Osman", "Levent", "Atlas", "Fatma"],
"Sport" : ["Running", "Swimming", "Running", "Basketball"],
"Calories" : [200, 100, 50, 300]}

dataFrame2 = pd.DataFrame(dictionary2, index=[4, 5, 6, 7])
print(dataFrame2)

     Name       Sport  Calories
4   Osman     Running       200
5  Levent    Swimming       100
6   Atlas     Running        50
7   Fatma  Basketball       300

In [6]:
dictionary3 = {"Name" : ["Ayse", "Mahmut", "Duygu", "Nur"],
"Sport" : ["Running", "Swimming", "Badminton", "Tennis"],
"Calories" : [300, 400, 500, 250]}

dataFrame3 = pd.DataFrame(dictionary3, index=[8, 9, 10, 11])
print(dataFrame3)

      Name      Sport  Calories
8     Ayse    Running       300
9   Mahmut   Swimming       400
10   Duygu  Badminton       500
11     Nur     Tennis       250

## Concatenation CONCAT

In [8]:
dataFrame4 = pd.concat([dataFrame1, dataFrame2, dataFrame3], axis=0) # axis can also be 1, but that would cause an error
print(dataFrame4)

      Name       Sport  Calories
0    Ahmet     Running       100
1   Mehmet    Swimming       200
2   Zeynep     Running       300
3     Atil  Basketball       400
4    Osman     Running       200
5   Levent    Swimming       100
6    Atlas     Running        50
7    Fatma  Basketball       300
8     Ayse     Running       300
9   Mahmut    Swimming       400
10   Duygu   Badminton       500
11     Nur      Tennis       250

## MERGE

In [9]:
mergeDictionary1 = {"Name" : ["Ahmet", "Mehmet", "Zeynep", "Atil"],
"Sport" : ["Running", "Swimming", "Running", "Basketball"]}
mergeDataFrame1 = pd.DataFrame(mergeDictionary1)
print(mergeDataFrame1)

     Name       Sport
0   Ahmet     Running
1  Mehmet    Swimming
2  Zeynep     Running
3    Atil  Basketball

In [10]:
mergeDictionary2 = {"Name" : ["Ahmet", "Mehmet", "Zeynep", "Atil"],
"Calories" : [100, 200, 150, 250]}
mergeDataFrame2 = pd.DataFrame(mergeDictionary2)
print(mergeDataFrame2)

     Name  Calories
0   Ahmet       100
1  Mehmet       200
2  Zeynep       150
3    Atil       250

In [11]:
mergeDataFrame3 = pd.merge(mergeDataFrame1, mergeDataFrame2, on="Name")
print(mergeDataFrame3)

     Name       Sport  Calories
0   Ahmet     Running       100
1  Mehmet    Swimming       200
2  Zeynep     Running       150
3    Atil  Basketball       250

In [12]:
salaryDictionary = {"Name": ["Atil", "Zeynep", "Mehmet", "Ahmet"], 
                    "Department": ["Software", "Sales", "Marketing", "Software"],
                    "Salary": [200, 300, 500, 400]}
salaryDataFrame = pd.DataFrame(salaryDictionary)
print(salaryDataFrame)

print(salaryDataFrame["Department"].unique()) # What are the departments?
print(salaryDataFrame["Department"].nunique()) # How many unique departments are there?
print(salaryDataFrame["Department"].value_counts()) # How many are there in each department?

     Name Department  Salary
0    Atil   Software     200
1  Zeynep      Sales     300
2  Mehmet  Marketing     500
3   Ahmet   Software     400
['Software' 'Sales' 'Marketing']
3
Department
Software     2
Sales        1
Marketing    1
Name: count, dtype: int64

In [13]:
def grossToNet(salary):
    return salary * 0.66
print(salaryDataFrame["Salary"].apply(grossToNet)) # Apply the function to the table

0    132.0
1    198.0
2    330.0
3    264.0
Name: Salary, dtype: float64